body {
    margin: 0;
    font-family: "Comic Sans MS";
    font-size: 1rem;
    background-color: lightgray;
    padding: 2px;
}

header {
    align-content: center;
    position: fixed;
    padding: 4px;
}

div.main {
    text-align: center;
    top: 0;
    padding: 0;
    border: 5px solid black;
    border-radius: 45px 0px 45px 0px;

}
img {
    border: 2px solid black;
    padding-top: 0;
    float: left;

}